{% extends 'accounts/accounts-base.html' %}

{% block title %}Password Reset{% endblock %}
{% block body_class %}accounts-body{% endblock %}

{% block content %}
    <div class="password-reset-container">
        <div class="forms">
            <div class="form">
                <span class="title">Password Reset Confirm</span>

                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="input-field">
                        {{ form.new_password1 }}
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        {{ form.new_password2 }}
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="input-field button">
                        <button type="submit">Reset Password</button>
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text"
                        >Not a member?
                        <a href="{% url 'accounts:register' %}" class="text
                        login-link">Signup Now</a>
                    </span>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
