{% extends 'accounts/profile-base.html' %}
{% load static %}

{% block title %}Profile Page{% endblock %}

{% block profile_information %}
<div class="profile-info">
        <img src="{{ page_user.profile.image.url }}" alt="Profile image" class="profile-pic">
        <div class="profile-details">
            <h4 class="profile-username">{{ page_user.username }}</h4>
            <h4 class="profile-email">{{ page_user.email }}</h4>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block page_content %}
<div class="user-details-box">
    <h4>User Details</h4>
    <ul class="user-details-list">
        <li>Country: {{ page_user.profile.country.name }}</li>
        <li>Date of Birth: {{ page_user.profile.date_of_birth }}</li>
        <li>Languages: {{ page_user.languages }}</li>
        <li>Number of Dictionary Folders: {{ page_user.folder_count }}</li>
        <li>Number of Dictionaries: {{ page_user.dictionary_count }}</li>
        <li>Number of Total Entries: {{ page_user.entry_count }}</li>
        <li>Number of Weekly Entries: {{ statistics.weekly_entries }}</li>
        <li>Number of Total Examples Added: {{ statistics.total_examples }}</li>
        <li>Number of Weekly Examples Added: {{ statistics.weekly_examples }}</li>
        <li>Longest Ongoing Streak: {{ statistics.current_streak }} days</li>
        <li>Highest Streak: {{ statistics.max_streak }} days </li>
    </ul>
    {% if page_user != user %}
        <div class="folder-actions">
            <a href="{% url 'dictionaries:folder-list' user_slug=page_user.slug %}"
               class="dictionary-actions-button">Folders</a>
        </div>
    {% endif %}
</div>
{% endblock %}
