{% extends 'accounts/profile-base.html' %}
{% load static %}

{% block title %}Add New Dictionary Entry{% endblock %}

{% block profile_information %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="add-entry-container">
        <h1 class="add-entry-title">Add New Entry</h1>

        <!-- Entry Form -->
        <form method="post" action="">
            {% csrf_token %}

            <!-- Entry Word -->
            <div class="form-group">
                {{ form.word.label }}
                {{ form.word }}
            </div>

            <!-- Target Languages -->
            <div class="form-group">
                <label>Languages</label>
                <input type="text" id="translation-languages" name="translation_languages" class="form-control" placeholder="A comma-separated list of the languages to translate the word into" required>
                <p class="instruction">Click 'Generate' button to get translations and example sentences.</p>
            </div>

            <!-- Action Buttons -->
            <div class="form-actions">
                <button type="submit" class="update-button">Generate</button>
                <a href="{% url 'dictionaries:dictionary-detail' user_slug=user.slug folder_slug=dictionary.folder.slug dictionary_slug=dictionary.slug %}"
                   class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}