{% extends 'accounts/profile-base.html' %}
{% load highlight %}
{% load static %}

{% block title %}{{ entry.word }}{% endblock %}

{% block profile_information %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="dictionary-entry-details">
    <!-- Entry Word -->
    <div class="entry-header">
        <h1 class="entry-title">{{ entry.word }}</h1>
        <p class="entry-language"><em>Language: {{ entry.dictionary.folder.language }}</em></p>
        <div class="entry-image">
            {% if entry.image %}
                <img src="{{ entry.image.url }}" alt="An image related to the dictionary entry">
            {% endif %}
        </div>
    </div>

    <!-- Meanings Section -->
    <div class="entry-meanings">
        <h2>Meanings</h2>
        {% for meaning in entry.meanings.all %}
            <div class="meanings-item">
                <p><strong>{{ meaning.target_language }}: </strong>{{ meaning.description }}</p>
            </div>
        {% empty %}
            <p>No meanings available for this entry.</p>
        {% endfor %}
    </div>

    <!-- Example Sentences Section -->
    <div class="entry-examples">
        <h2>Example Sentences</h2>
        {% for example in entry.examples.all %}
            <div class="examples-item">
                <p>{{ example.sentence|highlight:entry.word|safe }}</p>
            </div>
        {% empty %}
            <p>No example sentences available for this entry.</p>
        {% endfor %}
    </div>

    <!-- Notes Section -->
    <div class="entry-notes">
        <h2>Notes</h2>
        <div class="notes">
            {% if entry.notes %}
                <p>{{ entry.notes }}</p>
            {% else %}
                <p>You have not added any notes.</p>
            {% endif %}
        </div>
    </div>

    {% if entry.dictionary.folder.user == user %}
        <div class="dictionary-actions">
            <a href="{% url 'dictionaries:entry-update' user_slug=user.slug folder_slug=entry.dictionary.folder.slug dictionary_slug=entry.dictionary.slug entry_slug=entry.slug %}"
               class="actions-button">Update</a>
            <a href="{% url 'dictionaries:entry-delete' user_slug=user.slug folder_slug=entry.dictionary.folder.slug dictionary_slug=entry.dictionary.slug entry_slug=entry.slug %}"
               class="actions-button">Delete</a>
            <a href="{% url 'dictionaries:dictionary-detail' user_slug=user.slug folder_slug=entry.dictionary.folder.slug dictionary_slug=entry.dictionary.slug %}"
               class="actions-button">Back</a>
        </div>
    {% endif %}
</div>
{% endblock %}
