{% extends 'accounts/profile-base.html' %}
{% load static %}

{% block title %}Add New Folder{% endblock %}

{% block profile_information %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block page_content %}
<!-- Dictionary Folders Section -->
<div class="dictionary-folders-container">
    <div class="new-folder-section">
        {% if view_type == 'update' %}
            <h2 class="section-title">Update the Dictionary Folder</h2>
        {% else %}
            <h2 class="section-title">Add a New Dictionary Folder</h2>
        {% endif %}
        <hr>
        <form method="post" class="form new-folder-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.language.label_tag }}
                {{ form.language }}
            </div>
            {% if view_type == 'update' %}
                <button type="submit" class="update-button">Update Folder</button>
            {% else %}
                <button type="submit" class="update-button">Create Folder</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
